---
import { getCollection } from 'astro:content';

import Main from '@/layouts/Main.astro';

export async function getStaticPaths() {
    const posts = (await getCollection('posts')).sort((a: any, b: any) => a.id - b.id);
    const tags = [...new Set(posts.map((e: any) => e.data.categories).flat())];

    return tags.map(e => ({
        params: { tag: e },
        props: { posts: posts.filter((f: any) => f.data.categories.includes(e)) },
    }));
}

const [{ tag }, { posts }] = [Astro.params, Astro.props];
---

<Main description={`Posts tagged with "${tag}".`} title={`${tag} | Blog`}>
    <main>
        <section>
            <h4>{(tag as string).toUpperCase()}</h4>

            {
                posts.map((e: any) => (
                    <a href={`/posts/${e.id}`}>
                        {e.data.title} [{e.data.author}]
                    </a>
                ))
            }
        </section>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include section-blog;
</style>
