---
import Content from '@/modules/Content.astro';
import Root from '@/layouts/_Root.astro';

const { author, description, image, pubDate, title } = Astro.props.post.data;
---

<Root description={description} title={title}>
    <main>
        <Content author={author} image={image} pubDate={pubDate}>
            <slot />
        </Content>
    </main>
</Root>
