---
import Navbar from '../modules/Navbar.astro';

import '../styles/main.css';

const { frontmatter: data } = Astro.props;
---

<html lang="en-US">
    <head>
        <title>{data.title}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Kevin Huang" />
        <meta name="description" content="Astro demo" />
        <meta name="robots" content="index, follow" />
        <meta name="theme-color" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/public/favicon.svg" />
    </head>

    <body>
        <Navbar />
        <h1>{data.title}</h1>
        <p>{data.pubDate.toString().slice(0, 10)}</p>
        <p><em>{data.description}</em></p>
        <p>Written by: {data.author}</p>
        <img src={data.image.url} alt={data.image.alt} width="300" />
        <slot />
    </body>
</html>
