---
import Content from '@/modules/Content.astro';
import Root from '@/layouts/_Root.astro';

const { author, date, description, image, title } = Astro.props.frontmatter;
---

<Root description={description} title={title}>
    <main>
        <Content author={author} date={date} image={image}>
            <slot />
        </Content>
    </main>
</Root>
