---
import Navbar from '../modules/Navbar.astro';

import '../styles/main.css';

const { frontmatter: data } = Astro.props;
---

<html lang="en-US">
    <head>
        <title>{data.title}</title>
        <meta charset="UTF-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="Kevin Huang" name="author" />
        <meta content="Astro demo" name="description" />
        <meta content="index, follow" name="robots" />
        <meta content="#000000" name="theme-color" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="/favicon.svg" rel="icon" type="image/x-icon" />
    </head>

    <body>
        <Navbar />
        <h1>{data.title}</h1>
        <p>{data.pubDate.toString().slice(0, 10)}</p>

        <p>
            <em>{data.description}</em>
        </p>

        <p>Written by: {data.author}</p>
        <img alt={data.image.alt} src={data.image.url} width="300" />
        <slot />
    </body>
</html>
